@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  /* padding: 20px; */
  /* max-width: 1200px; */
  margin: auto;
}

.navbar {
  background-color: #333;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: start;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  color: #333;
  max-width: 300px;
  margin: 0 auto;
}

.cardImage {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.cardTitle {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: bold;
  color: #333;
}

.cardCategory {
  font-weight: bold;
  color: #0070f3;
}

.readMore {
  color: #0070f3;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  transition: color 0.3s ease;
}

.readMore:hover {
  color: #005bb5;
}

/* styles/Blog.module.css */
.placeholderImage {
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 1rem;
  font-style: italic;
}
